header{
  width: 100%;
  height: 50px;
  z-index: 4;
}

.navbar {
  margin-bottom: 0px;
  background: #ffffff;
  border-radius: 0%;
  border: 0px;
}

.logo{
  text-align:center;
  margin-top: 23px;
}

.logo img{
  margin:auto;
  text-align:center;
  height: 50px;
  position: absolute;
  z-index: 2;
}

.navbar-space{
  height: 32px;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #ffffff;
}
.navbar-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.navbar-wrapper ul li {
  margin: 0;
  display: inline-block;
}
.navbar-wrapper ul li a {
  color: #ffffff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}
.navbar-wrapper ul li a:hover {
  color: #00F0DC;
  opacity: 1;
}
.header-buscador {
  padding: 0 2px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #FFF;
  border-left: 0;
  font-weight: 300;
  font-size: 15px;
  height: 28px;
  outline: none;
  box-shadow: none;
  transform: translateY(-2px);
  color: black;
}
.header-buscador::placeholder {
  color: #777;
  font-size: 14px;
  font-weight: 300;
}
.header-buscador-icono {
  border-radius: 20px 0 0 20px;
  transform: translateY(-3px);
  font-size: 14px;
  height: 28px;
  color: #978CFF !important;
  background: white;
  border: 1px solid #FFF;
  border-right: 0;
  padding: 2px 7px !important;
  margin-left: 12px;
}
.navbar-userimg
{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-user-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.header-icon
{
  font-size: 18px;
}

.header-icon-logo
{
  font-size: 17px;
}


.header-icon-plus
{
  font-size: 18px;
}

/* @media only screen and ( max-width: 782px) {
  .navbar-header {
    width: 130px;
  }
  .navbar-header img{
    width: 100%;
  }
  .navbar-wrapper ul li a {
    padding: 10px 15px 0 0px;
  }
} */

@media only screen and (max-width: 1090px) {
  .navbar-user-name {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .navbar-header {
    width: 140px;
  }
  .header-buscador {
    width: 120px;
  }
}
